.topnav {
    overflow: hidden;
    background-color: rgb(9 38 68 / 79%);
    left: 0%;
    top: 0%;
    margin-right: 10px;
    display: flex;
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 10%;
}

/* Style the topnav links */
.topnav a {

    display: block;
    color: #fdfcfc;
    padding: 14px 16px;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: rgb(9, 38, 68);
    color: burlywood;
}

.container {
    width: 60%;
    margin-top: 20%;
    color: white;
}

.col-12 {
    flex: 0 0 auto;
    width: 50%;
}

.btn {
    width: 100%;
    position: relative;
}

.btn-primary {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    background-color: #c99ea600;
    border-color: #d0d1dd99;
    border-radius: 0.7rem;
    font-size: 20px;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 50%;
}

.form-radio-contaner {
    flex: 0 0 auto;
    width: 33.3333333%;
}

.form-control {
    background-color: #e6dede0f;
    color: white;
    border-radius: .7rem;
    border-color: #d0d1dd99;
    ;
}

body {
    background-image: url(image/Sign-Up.jpg);
    background-size: auto;
}